[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=etcd2.service docker-cache.service fleet.service docker.service flanneld.service
After=etcd2.service docker-cache.service fleet.service docker.service flanneld.service
[Service]
ExecStartPre=-/usr/bin/mkdir -p /opt/bin
ExecStartPre=/usr/bin/wget -P /opt/bin https://storage.googleapis.com/kubernetes-release/release/{{ COREOS_K8S_MASTER_VERSION }}/bin/linux/amd64/kube-apiserver
ExecStartPre=/usr/bin/chmod +x /opt/bin/kube-apiserver
ExecStartPre=/opt/bin/wupiao {{ ansible_env.COREOS_PRIVATE_IPV4 }}:2379/v2/machines
ExecStart=/opt/bin/kube-apiserver \
  --service_account_key_file={{ ansible_user_dir }}/kube-serviceaccount.key \
  --service_account_lookup=false \
  --admission_control=NamespaceLifecycle,NamespaceAutoProvision,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
  --allow_privileged=true \
  --insecure_bind_address=0.0.0.0 \
  --insecure_port=8080 \
  --kubelet_https=true \
  --secure_port=6443 \
  --service-cluster-ip-range=10.100.0.0/16 \
  --etcd_servers=http://{{ ansible_env.COREOS_PRIVATE_IPV4 }}:2379 \
  --public_address_override={{ ansible_env.COREOS_PUBLIC_IPV4 }} \
  --cloud_provider={{ COREOS_K8S_MASTER_CLOUD_PROVIDER }} \
  --logtostderr=true \
  --runtime_config=api/v1
Restart=always
RestartSec=10
