[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=setup-network-environment.service
After=setup-network-environment.service
[Service]
ExecStartPre=/usr/bin/curl -L -o /opt/bin/kube-proxy -z /opt/bin/kube-proxy https://storage.googleapis.com/kubernetes-release/release/{{ COREOS_K8S_MINION_VERSION }}/bin/linux/amd64/kube-proxy
ExecStartPre=/usr/bin/chmod +x /opt/bin/kube-proxy
# wait for kubernetes master to be up and ready
ExecStartPre=/opt/bin/wupiao {{ hostvars[groups['coreos-k8s-master'][0]].ansible_env.COREOS_PUBLIC_IPV4 }}:8080
ExecStart=/opt/bin/kube-proxy \
--master={{ hostvars[groups['coreos-k8s-master'][0]].ansible_env.COREOS_PUBLIC_IPV4 }}:8080 \
--logtostderr=true
Restart=always
RestartSec=10
